/* CSS CODE */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  padding: 18px;
  background: #93A8AC;
  color: white;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

h1{
  font-size: x-large;
}

p{
  font-size: small;
}

a{
  text-decoration: none;
  color: white;
}

.profile-img {
  width: 50%;
  border-radius: 75%
}

.btn{
  display: block;
  color: white;
  padding: 20px;
  background: dimgray;
  margin: 25px;
  box-shadow: 5px 10px #888888
}